*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*header*/
header{
    background-color: #EAC926;
    width: 100%
}

img{
    width: 100%;
}

.imagen-fondo{
    position: right top;
}
.inicio{
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header div img{
    width: 40%;
}
div .buscador{
    display: flex;
    height: 25px;
    margin: auto;
}
.text-cuotas{
    margin: auto;
}
.fa-search{
    background-color: white;
    font-size: 15px;
}

header ul li{
    display: none;
   

}
.burguer-menu{
    background-color: #1259c3;
    font-size: 20px;
    font-weight: 50px;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 0 auto;
}

div.burger-menu i{
    background-color:#1259c3;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    width: 40px;
}
.fa-bars{
    background-color:#1259c3;
}

.banner{
width: 100%;
}

/*main*/
main{
width: 90%;
margin: 0 auto;
}
main section{
    display: flex;
    flex-wrap: wrap;
}

main section article{
    margin: 10px 0;
    width: 98%;
    
}
main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.main-article-div{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

/*En .precio y .decuento en lugar de widht
para colocarlos al 30% y 70%, podriamos haber 
usado en c/u un flex-grow: 0.30 y 0.70*/

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    color: #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }
main section article i:hover{
    transform: rotateZ(270deg);
}

.precio{
    font-size: 15px;
    width: 30%;
    }

.descuento{
    font-size: 14px;
    width: 70%;
    }
    
.descripcion{
    font-size: 14px;
    display: none;
    }


/*footer*/
.articulos-footer{
text-align: center;
}
.articulos-footer i{
    font-size: 2em;
    margin-bottom: 10px;
}

/*media*/

@media (min-width: 375px){
    /*header*/
.header-navbar{
    margin: 25px 0;
}
.header-navbar a{
    text-decoration: none;
    color: rgb(32, 24, 105);
}
/*main*/

.descripcion{
    display: block;
    opacity: 0%;
}
.descripcion:hover{
    opacity: 100%;
}
main section{
    display: flex;
    flex-wrap: wrap;
}
main section article{
    width: 48%;
}


}

@media (min-width: 481px){
    /*header*/
    .inicio{
        display: flex;
        justify-content: space-between;
    }
    header div img{
        width:30%
    }
    .buscador{
        width: 30%;
    }
    .text-cuotas{
        text-align: center;
        width: 30%;
        font-size: 15px;
        margin: auto;
    }
    .header-navbar{
        display: flex;
        justify-content: space-between;
    }
    .header-navbar ul{
        display: flex;
    }
    header ul li{
        display: flex;
        font-size: 12px;
        margin: 0 3px;
}

/*footer*/
.footer-article{
    display: flex;
    margin: 35px 5px;
    justify-content: space-between;
}
footer article i{
    color: rgb(68, 68, 197);
}
footer article i:hover{
    color: rgb(6, 6, 48);
}
}

@media(min-width: 769px){
    /*header*/
header ul li{
    display: flex;
    font-size: 17px;
}
.burguer-menu{
    display: none;
}

/*main*/
main section article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}
main section{
    display: flex;
    flex-wrap: wrap;
}
main section article{
    width: 24%;
    

}
header ul li{
    display: block;
}

}
@media (min-width: 1200px){
   /*header*/
body{
 max-width: 1200px;   
 margin: auto;
}    
.buscador{
    min-width: none;

}
}